.nav {
  display: flex;
  align-items: center;
}

/* LINKS DESKTOP */
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: #e5e7eb;
  font-size: 0.95rem;
  padding-bottom: 4px;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}


.nav-links a:hover {
  color: #38bdf8;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 2px;
  background: #e5e7eb;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 2rem;
    background: #020617;
    border: 1px solid #1e293b;
    border-radius: 8px;
    padding: 1.5rem;
    flex-direction: column;
    gap: 1.5rem;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
