
  /* Container nav */
.header nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  /* Logo */
  .header .logo {
    max-height: 50px;
  }
  
  /* Botão dark mode */
  .toggle-darkmode {
    background-color: transparent;
    border: 1px solid var(--accent-color);
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  /* Oculta o input checkbox */
  .header input {
    display: none;
  }
  
  /* Menu hamburguer */
  .menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  
  .hamburguer {
    height: 3px;
    background: var(--header-text);
    border-radius: 2px;
    transition: all 0.4s ease;
  }
  
  /* Estado ativo para virar um X */
  #menu-hamburguer:checked + label.menu .hamburguer:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  #menu-hamburguer:checked + label.menu .hamburguer:nth-child(2) {
    opacity: 0;
  }
  
  #menu-hamburguer:checked + label.menu .hamburguer:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  
  /* Menu de navegação */
  .header nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
  
  .header nav ul a {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.4s;
  }
  
  .header nav ul a:hover {
    color: var(--accent-color);
  }
  
  /* Mobile */
  @media (max-width: 900px) {
    .menu {
      display: flex;
    }
  
    .header nav {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
  
    .header nav ul {
      display: none;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: var(--accent-color);
      padding: 20px;
      border-radius: 8px;
      flex-direction: column;
      width: 200px;
    }
  
    #menu-hamburguer:checked ~ ul {
      display: flex;
    }
  
    .header nav ul a {
      text-align: center;
      padding: 15px 0;
      display: block;
      color: white;
    }
  }
  